header{
    background-color: #305496;
    color: white;
    height: 80px;
}
footer{
    height: 60px;
    background-color: #BFBFBF;
    font-size: large;
    padding: 30px;
}
.div{
    border: 1px solid black;
}
.article{
    height: 500px;
    align-items: center;
    margin:50px;
}
.text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.text1{
    font-weight: bold;
}
.text2{
    text-align: center;
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    align-items: center;

}
th{
    padding:8px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}